<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout :: layout(~{::content})}"
>
  <head>
    <title>Home Page</title>
    <!-- 페이지별 추가 스타일 또는 스크립트 -->
  </head>
  <body>
    <th:block th:fragment="content">
      <header>
        <h1>Welcome to the Home Page</h1>
      </header>

      <div
        id="testTrans"
        cjv-key="transButton"
        cjv-component="transButtonComponent"
      >
        <div class="trans_Btn">
          <button>Toggle</button>
        </div>
        <div class="trans_result">
          <Transition>
            <p v-if="show">hello</p>
          </Transition>
        </div>
      </div>
      <div cjv-component="exampleComponent" cjv-key="exam"></div>
      <input type="text" cjv-key="test1" cjv-component="inputComponent" />
      <button cjv-component="buttonComponent" cjv-key="save">save</button>
      <input type="text" cjv-key="test2" cjv-component="inputComponent" />

      <footer></footer>
    </th:block>
  </body>
</html>
